<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
  table {
  border: 2px solid black;
}

th, td {
  border: 2px solid black;
}
</style>
</head>

<table style="max-width: 900px;width: 100%;margin: 0 auto;" class="width100">
  <tbody style="background-color: #413e70;">
    <tr>
      <td style="padding: 23px 0px;">
        <table style="max-width: 800px;width: 100%;margin: 0 auto;" class="width100">
          <tbody style="background: #fff;">
            <tr>
              <td>

 <body>
  <h1>John Black Dashboard</h1>
  <div> 
  <table>    
    <tr>
        <th> Trader Id       </th>
        <th> Trader Name     </th>
        <th> Fund Name       </th>
        <th> Fund Focus      </th>
        <th> Beta            </th>
        <th> Expected return </th>
    </tr>


    <tr>
        <td> JBX1566</td>
        <td> John Black</td>
        <td> US ETF Equity Strategy</td>
        <td> S&P500</td>
        <td> {{Beta}}</td>
        <td> {{Expected_return}}</td>
    </tr>
</table></div>
  <div id='chart1' class='chart'”, max-width=600px></div> </div>
  <div id='chart2' class='chart'”, max-width=600px></div>
  <div> <div id='chart' class='chart'”, max-width=600px></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON2 | safe}};
  Plotly.plot('chart1',graphs,{});
</script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON3 | safe}};
  Plotly.plot('chart2',graphs,{});
</script>

</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</html>

<table>    
  <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Portfolio weight</th>
      <th>Comulative return</th>
      <th>Sector</th>
  </tr>

  {% for share in shares_owned %}
  <tr>
      <td>{{placeholder.symbol}}</td>
      <td>{{placeholder.name}}</td>
      <td>{{placeholder.num_shares_owned}}</td>
      <td>{{placeholder.total_cost}}</td>
      <td>{{placeholder.gain_loss}}</td>
  </tr>
  {% endfor %}
</table>